# MoMo Payment Configuration
MOMO_PARTNER_CODE=MOMO
MOMO_ACCESS_KEY=F8BF47D1BC160DFF6B3B6C6FF657430C
MOMO_SECRET_KEY=NFcpIflJiIhUvrNQstXQyP0yDMSeD3mB
MOMO_REDIRECT_URL=http://localhost:3000/payment-result
MOMO_IPN_URL=http://localhost:3000/payment-notify

# Server
PORT=3000
NODE_ENV=development
